body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url('fondo.png') no-repeat center center fixed;
    background-size: cover; /* Ajustar la imagen al tamaño de la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: #fff; /* Ajustar el color de texto para mejor visibilidad */
}

.login-container {
    background: rgba(155, 120, 238, 0.9); /* Fondo púrpura semitransparente para contraste */
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 100%;
    max-width: 400px;
    transition: transform 0.3s ease;
}

.login-container:hover {
    transform: scale(1.05);
}

.logo {
    width: 150px; /* Ajustar tamaño del logo */
    margin-bottom: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #fff;
}

input[type="text"], input[type="password"] {
    width: calc(100% - 22px); /* Ajustar el ancho para que no sobrepase */
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #8a2be2;
    border-radius: 5px;
    font-size: 16px;
    transition: border 0.3s ease;
}

input[type="text"]:focus, input[type="password"]:focus {
    border: 1px solid #dda0dd;
    outline: none;
}

button {
    width: calc(100% - 22px); /* Ajustar el ancho para que no sobrepase */
    padding: 15px;
    background: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #dda0dd;
    transform: translateY(-2px);
}

a {
    color: #dda0dd;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ff69b4;
}

p {
    margin-top: 10px;
    font-size: 14px;
}

#forgot-password {
    margin-top: 10px;
}

/* Estilos del popup de mensaje */
.message-popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(75, 0, 130, 0.9); /* Fondo púrpura semitransparente para contraste */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
    animation: fadeIn 0.3s ease;
}

.message-popup p {
    margin: 0;
    font-size: 16px;
    color: #fff;
}

.message-popup button {
    background: #8a2be2;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
    transition: background 0.3s ease, transform 0.2s ease;
}

.message-popup button:hover {
    background: #dda0dd;
    transform: translateY(-2px);
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

